@page  "{providerId}"
@{
    Layout = "_Layout2";
}
@model CSharpGroup.Pages.Forms.LoginModel
@{
}


<div>
    <div><p style="color:red">@Html.ValidationMessage("Email")</p></div>
    <form method="post" asp-route-providerId="@Model.providerId">
        <div class="form-group">
            <label asp-for="user.Email"></label>
            <input asp-for="user.Email" class="form-control" name="email">
            <span asp-validation-for="user.Email"></span>
        </div>
        @Html.ValidationMessage("Password")
        <div class="form-group">
            <label asp-for="user.Password"></label>
            <input asp-for="user.Password" class="form-control" name="password">
            <span asp-validation-for="user.Password"></span>
        </div>

        <button type="submit" class="btn btn-block send-button button1">Log In</button>
    </form>
</div>



