@page  "{providerId}"
@{
    Layout = "_Layout2";
}
@model CSharpGroup.Pages.Forms.LoginModel
@{
}


<div>
    <h3  style="padding-bottom:10px;"> Login      |      <a asp-page="/Forms/Register" asp-route-providerId="@Model.providerId">SignUp</a> </h3>
    <div><p style="color:red">@Html.ValidationMessage("Email")</p></div>
    <form method="post" asp-route-providerId="@Model.providerId">
        <div class="form-group">
            <label asp-for="user.Email"></label>
            <input asp-for="user.Email" class="form-control" name="email">
           
        </div>
       
        <div class="form-group">
            <label asp-for="user.Password"></label>
            <input asp-for="user.Password" class="form-control" name="password">
            
        </div>

        <button type="submit" class="btn btn-block send-button button1">Log In</button>
    </form>
</div>



