@page  "{providerId}"
@{
    Layout = "_Layout2";
}
@model CSharpGroup.Pages.Forms.RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}



<div>


    <form method="post" class="was-validated needs-validation" novalidate>
        <div><p style="color: red">@Html.ValidationMessage("email")</p></div>
        <div class="form-group">
            <label asp-for="user.Email"></label>
            <input asp-for="user.Email" class="form-control" type="email" required />
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>
        </div>
        <div class="form-group">
            <label asp-for="user.FirstName"></label>
            <input asp-for="user.FirstName" class="form-control" type="text" required />
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>
        </div>
        <div class="form-group">
            <label asp-for="user.LastName"></label>
            <input asp-for="user.LastName" class="form-control" type="text" required />
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>
        </div>
        <div class="form-group">
            <label asp-for="user.Password"></label>
            <input asp-for="user.Password" class="form-control" type="password" minlength="8" required />
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Passwords must be atleast 8 characters long.</div>
        </div>
       
        <div class="form-group">
            <label asp-for="user.PhoneNo"></label>
            <input asp-for="user.PhoneNo" class="form-control" required />
            <span asp-validation-for="user.PhoneNo"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Address"></label><br />
                <select asp-for="user.Address" class=" form-control" title="city residence" data-live-search="true" required>
                    <option></option>
                    <option>Addis Ababa</option>
                    <option>Dire Dawa</option>
                    <option>Bahir Dar</option>
                    <option>Hawassa</option>
                    <option>Gondar</option>
                    <option>Adama</option>

                </select>
           
        </div>
        <button type="submit" class="btn btn-block send-button button1 ">Sign Up</button>
    </form>


</div>





