@page
@model CSharpGroup.Pages.OrdersModel
@{
}
<br><br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Status</th>
                    <th scope="col">OrderCreated</th>
                    <th scope="col">OrderCompleted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Nate</th>
                    <td>Active</td>
                    <td>22-12-2010</td>
                    <td>30-12-2010</td>
                </tr>
                <tr>
                    <th scope="row">Silver</th>
                    <td>Pending</td>
                    <td>22-2-2010</td>
                    <td>22-2-2010</td>
                </tr>
                <tr>
                    <th scope="row">Shania</th>
                    <td>Completed</td>
                    <td>22-2-2010</td>
                    <td>22-2-2010</td>
                </tr>
            </tbody>
        </table>

    </div>


