@page
@model CSharpGroup.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style2.css")">
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
}



<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">


        <div class="dashboard-headline">
            <h3>Profile</h3>
        </div>


        <div class="row">

            <!-- Dashboard Box -->
            <form method="post">
                <div class="col-xl-12" id="dashbord">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                        </div>

                        <div class="content with-padding padding-bottom-0">

                            <div class="row">

                                <div class="col-auto">
                                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar" style="border-radius: 50%">
                                        <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" style="border-radius: 50%"/>
                                        <div class="upload-button"></div>
                                        <input asp-for="userdetails.Image" class="file-upload" type="file" accept="image/*" />
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row">

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <label asp-for="userdetails.FirstName">First Name</label>
                                                <!--<h5 asp-for="User.">First Name</h5>-->
                                                <input asp-for="userdetails.FirstName" type="text" class="with-border" value=" ">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <label asp-for="userdetails.LastName">Last Name</label>

                                                <input asp-for="userdetails.LastName" type="text" class="with-border" value=" ">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <!-- Account Type -->
                                            <div class="submit-field">
                                                <label asp-for="userdetails.PhoneNo">Phone number</label>
                                                <input asp-for="userdetails.PhoneNo" type="text" class="with-border" value="" />
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <label asp-for="userdetails.Email">Email</label>

                                                <input asp-for="userdetails.Email" type="text" class="with-border" value="" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--password here-->

                <div class="col-xl-12" id="password">
                    <div id="test1" class="dashboard-box">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
                        </div>

                        <div class="content with-padding">
                            <div class="row">


                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>Password</h5>
                                        <input asp-for="userdetails.Password" type="password" class="with-border">
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="submit-field">
                                        <h5>Confirm Password</h5>
                                        <input asp-for="userdetails.ConfirmPassword" type="password" class="with-border">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                    <!-- Dashboard Box -->

                </div>

                <!-- Button -->
                <div class="col-xl-12">
                    <button class="button ripple-effect big margin-top-30" type="submit">
                        Update
                    </button>

                </div>
            </form>

        </div>
        <!-- Row / End -->
        <!-- Footer -->




    </div>
</div>
<!-- Dashboard Content / End -->
<!-- Dashboard Container / End -->
<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

