@page
@model CSharpGroup.Pages.ServicesModel
@{
    ViewData["Title"] = "services";
}

<div class="container-fluid" id="con">
    <div class="row" id="row">
        <div class="col-md-12 col text-center">
            <div class="container conform">
                <div class="row text-center">
                    <div class="col-md-12 text-center">
                        <form>
                            <div class="input-group" >
                                <div class="form-outline">
                                    <input name="searchString" type="text" id="form1" class="form-control" placeholder="Search services here..." />

                                </div>
                                <button type="submit" class="btn btnsearch" asp-page="/services">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
              
        </div>
    </div>
</div>

<!--<form >-->
    @*<p>
        <input name="searchString" type="text" />
        <input type="submit" value="Filter" asp-page="/services" />
    </p>*@

    <!--<div class="input-group">
        <div class="form-outline">
            <input name="searchString" type="text" id="form1" class="form-control" />
           
        </div>
        <button type="submit" class="btn btn-primary" asp-page="/services">
            <i class="fas fa-search"></i>
        </button>
    </div>

</form>-->

<div class="container-fluid d-flex px-5 mx-5 py-3row">
    <h1 class="align-self-center text-center col-md-12 mt-4">Services We Have Got</h1>
</div>

<div class="container my-3 d-flex align-items-center">
    <div class="container row mx-2">
        @foreach (var item in Model.categoryList)
        {
            <div class="card col-md-4 p-3" style="width: 20rem; border:none;">
                <a id="service-link" asp-page="/EachService" asp-route-id="@item.Id">
                    <img id="hover-img" src="@item.Image" class="card-img-top" alt="..." style="height: 15rem">
                    <div id="hover-text-cont" class="card-body">
                        <h5 id="hover-text" class="card-text text-center">@item.Name</h5>
                    </div>
                </a>
            </div>
        }
    </div>
</div>




